.all{
    background-color: C6E2FF;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.all h1{
    width: 100%;
    margin: 5% 0% 0% 48%;
    font-size: 8vh;
}
.logon-container{

    width: 100%;
    max-width: 1920px;
    height: 93%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logon-container section.form{
    background-color: #B0C4DE;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 90%;
    height: 70%;
    margin: 0 auto;
}
.logon-container section.form form{
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    
}

.logon-container section.form form a{
    background: none;
    display: flex;
    align-items: center;
    margin-top: 12px;
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    height: 100%;
    opacity: 1
;
}
.logon-container section.form form a svg{
    
    margin-right: 8px;
    background: none;
}

.logon-container section.form img{
    background: none;

    width: 120%;
    max-width: 290px;
}
.logon-container button{
    background: none;
    width: 100%;
    max-width: 100px;
    margin: 1% 0% 0% 32%;
}
