span{
    background: none;
    margin: 0% 0% 0% 1%;
}
hr{
    border: 0px;
    height: 100px;
}

div{
    background-color: #1071A8;
}
.form{
    display: flex;
    width: 40%;
    max-width: 900px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form{
    background-color: #1071A8;
    font-family: Roboto, sans-serif, Arial, Helvetica;
}
.coment{
    display: flex;
    text-align: center;
    height: 100px;
}
textarea{
    width: 100%;
    max-width: 500px;
    margin: 4% 0% 0% 0%;
    background-color: #4387AD;
}
input{
    width: 100%;
    max-width: 500px;
    margin: 4% 0% 0% 0%;
    background-color: #4387AD;
}

.imagens{
    width: 100%;
    max-width: 700px;
    display: block;
    background: none;
    margin: 1% 0% 0% 3%;
}
.imagens img{
    height: 50px;
    width: 48px;
}
button{
    background: none;
}
img{
    background: none;
}
p{
    background: none;
}
.heade{
    background: url(../../assets/contat.jpg);
    height: 100vh;
}
.heade hr{
    background: none;
    position: relative;
    font-size: 70px;
    color: #FFFFFF;    
    height: 100%;
}
.heade h2{
    background: none;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    color: #FFFFFF;
    position: relative;
    top: 80px;
}
.contat{
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 500px;
    position: relative;
    bottom: 30px;
}
.mapa{
    background-color: #16171B;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
}
.mapa iframe{
    margin: 1% 0% 1% 0%;
}