
p{
    font-size: medium ;
}
h1{
    font-weight: 300;
    width: 100%;
    max-width: 200px;
    background: none;
    color: whitesmoke;
    margin: 12px;
}
span{
    color: #1071A8;
}
.container{
    background: none;
    width: 100%;
    max-width: 1920px;
    display: table;
    text-align: center;
}
section div{
    
    background: none;
    display: flex;
    width: 100%;
    max-width:1920px;
    height: 100%;
    max-height: 120px;
}
p{
    background: none;
}
.faixa{

    margin: 7% auto;
    padding: 0.5%;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faixa p{
    
    font-size: 15px;
}
.faixa div{
    display: table;
}
img{
    background: none;
    width: 15%;
    height: 15%;
}
footer{
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes{
    margin: 0% 0% 0% 4%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 350px;
    display: block;
    background: none;
}
.redes div{
    margin: 3% 0% 0% 20%;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 70px;
    display: flex;
    background: none;
    padding: 6% 0% 0% 0%;
}
.redes div p{
    max-width: 200px;
    display: inline;
    padding: 0% 0% 0% 3%;
}
.redes div img{
    height: 100%;
    max-height: 30px;
    width: 100%;
    max-width: 30px;
}
.end{
    
    background: none;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    display: table;
}
.bio{
    max-width: 1920px;
    margin: 6% 0% 5% 18%;
}
.copy{
    margin: 0% 0% 0% 30%;
}