input{
    background: none;
}
h1{
    align-items: center;
    justify-content: center;
}
section form{
    background-image: url(../../assets/humans.jpg);
}
form{
    background: none;
}
.register-container {
    background-color: rgba(255, 255, 255, 0.842);
    width: 100%;
    max-width: 350px;
    height: 93%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container section form{
    width: 100%;
    max-width: 225px;
    margin-right: 20px;

    background-color: white;
    margin-top: 100px;
}
